.team-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); 
    gap: 1rem; /* Adjust the gap between cards */ 
    margin-top: 1rem;  
}

.team-list--wrapper {
    margin-top: 2rem;
    margin-left: 10%;
    margin-right: 10%; 
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.title {
    font-size: 1.5rem;
}